<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="http://github.com/JR-Charlie">Charlie</a>. An MBA turned web developer who's quickly mastering the skills needed to turn ideas into products.
  </p>
  <br />
  <p>
    Charlie's current project is JobReel, an innovative recruitment platform designed to get job seekers and employers talking. Follow his blog to keep up to date on developments and news.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>


    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'charlie.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Meet Charlie</h2>
    <br />
    <p>
      Charlie is an experienced recruiter and business strategy consultant turned web developer. He is proud of his previous accomplishments. In an earlier life, built schools in remote villages in South America.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
